body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

#shape_contain {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('images/bg1.jpg') no-repeat center center;
    background-size: cover;
}

#circle {
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    background: rgba(87,152,174, 0.5);
    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3);
}

#tri1 {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    width: 100vh;
    height: 88vh;
    background: url('https://images.pexels.com/photos/893975/pexels-photo-893975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') 
    no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    filter: hue-rotate(310deg) contrast(140%);
    opacity: 0.5;
}

#tri2 {
    clip-path: polygon(50% 0, 0% 100%, 9% 100%, 
    50% 17%, 50% 17%, 85% 91%, 13% 91%, 0 100%, 
    100% 100%, 50% 0);
    width: 80vh;
    height: 70vh;
    background: url('images/bg3.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    filter: hue-rotate(90deg) contrast(140%);
    opacity: 0.7;
}

#tri3 {
    clip-path: polygon(50% 0, 0% 100%, 9% 100%, 50% 17%, 50% 17%, 85% 91%, 13% 91%, 0 100%, 100% 100%, 50% 0);
    width: 80vh;
    height: 70vh;
    background: rgba(0, 113, 110, 0.2);
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.strip {
    position: absolute;
    background: linear-gradient(0deg, rgba(164, 0, 217, 0) 0%, rgba(164, 0, 217, 0.3) 35%, rgba(255, 67, 134, 0.3) 65%, rgb(255, 67, 134, 0) 100%);
}
#strip1 {
    width: 20vh;
    height: 120vh;
    left: 50%;
    transform: translate3d(-175%, -15%, 0) 
    rotateZ(30deg);
}
#strip2 {
    width: 5vh;
    height: 90vh;
    left: 50%;
    transform: translate3d(60vh, -15%, 0) 
    rotateZ(30deg);
}
#strip3 {
    width: 5vh;
    height: 90vh;
    left: 50%;
    transform: translate3d(-70vh, 25%, 0) 
    rotateZ(30deg);
}